body {
  background-color: rgb(80, 101, 107);
}
#caveBackGrd {
  background-image: url("../image/cave.jpg");
  font-family:'Courier New', Courier, monospace;
  text-align: center;
  color: rgb(255, 255, 255);
}
#reset:hover {
	background-color:teal;
  border-color: black;
}
#resetBut {
  text-align: center;
}
#message {
	text-align: center;
	color: rgb(236, 188, 29);
  font-family:'Courier New', Courier, monospace;
}
button:hover {
  background-color:teal;
	border-color: black;
}
#randomNum {
    border: 15px;
    font-size: 15px;

}
#scoreSec {
    color: azure;
}
#winLose {
    color: azure;
}
#ranNumSec {
    color: azure;
}


/* small moblie */
@media only screen and (max-width: 320px){

  img{
      margin-right: 5px;
      width: 100px;
      height: 100px;
      float: center;
  } 
  h2{
      font-size: 32px;
      font-family: 'Merriweather', serif;
  }  
  h5{
      font-size: 12px;
  }
  h3{
    font-size: 12px;
  }
  p{
    font-size: 12px;
  }
  body{
    background-color: rgb(80, 101, 107);
  }
  
}
/* Mobile */
@media only screen and (max-width: 480px){
  img{
    margin-right: 13px;
    width: 100px;
    height: 100px;
    float: center;
  } 
  h2{
      font-size: 32px;
      font-family: 'Merriweather', serif;
  }  
  p{
    font-size: 20px;
  }

}

/* Tablet */
@media only screen and (max-width: 768px){
  img{
    margin-right: 1px;
    width: 100px;
    height: 100px;
    /* float: center; */
  } 
  h2{
      font-size: 32px;
      font-family: 'Merriweather', serif;
  }  
  p{
    font-size: 20px;
  }

}

/* Desktop */
@media only screen and (max-width: 992px){
  img{
    margin-right: 10px;
    width: 100px;
    height: 100px;
    float: center;
  } 
  h2{
      font-family: 'Merriweather', serif;
  }  
  p{
    font-size: 20px;
  }

}

