body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px;
  color: #777777;
  background-color: rgb(214, 245, 234);
}
.footer{
    background-color:; 
    text-align: center; 
}
h1{
    text-align: center;
    color: darkslategrey

}
p{
    text-align: center;
}