body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  background-image: url("../image/lantern.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  margin: 0 auto;
  font-size: 24px;
}
nav a {
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color:black;
  border-left: 1px solid black;
}
#name{
  text-align: center;
  margin-top: 200px;
}
h1{
 font-family: 'Merriweather', serif;
  /* font-family: 'Dancing Script', cursive; */
 font-size: 56px;
}
h3{
  font-family: 'Open Sans Condensed', sans-serif;
}
h2{
 font-size: 40px;
 text-align: center;
 font-family: 'Merriweather', serif;
} 
.footer {
  margin-top: 340px;
  text-align: center;
  bottom: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  /* color: black; */
}
a.link {
  color: black;
}

/* Contacts */

.form-control{
  background-color: rgb(250, 242, 215);
  font-family: 'Open Sans Condensed', sans-serif;
}
.row{
  font-family: 'Patua One', cursive;
}
.form-group{
  font-family: 'Patua One', cursive;
}
.wrapper {
  padding-left: 50px;
  padding-right: 50px;
 }
 h2{
  font-family: 'Open Sans Condensed', sans-serif;
 }
.btn-primary {
  background-color: rgb(60, 97, 139);
  border: none;
  text-align: center;
}

/* portfolio*/
.card-body{
  background-color: rgb(245, 193, 135);
}  
.card-title{
  font-family: Verdana, Geneva, Tahoma, sans-serif
}
.card-text{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card a{
  color: black;
}

/* small moblie */
@media only screen and (max-width: 320px){
  img {
    width: 100%;
    height: 170px;
  }
  nav {
      font-family: 'Open Sans Condensed', sans-serif;
      text-align: center;
      margin: 0 auto;
      font-size: 10px;
  } 
  #img{
      /* margin-right: 20px; */
      width: 175px;
      height: 175px;
      /* float: center; */
  } 
  h2{
      font-size: 32px;
      /* font-family: 'Dancing Script', cursive;  */
      font-family: 'Merriweather', serif;
  }  
  p{
      font-size: 12px;
  }
  
}
/* Mobile */
@media only screen and (max-width: 480px){
  img {
    width: 75%;
    height: 75px;
  }
  nav {
      font-family: 'Open Sans Condensed', sans-serif;
      text-align: center;
      margin: 0 auto;
      font-size: 10px;
  }
  #img{
      /* margin-right: 20px; */
      width: 100px;
      height: 100px;
      /* float: top; */
  }
  h2{
      font-size: 32px;
      /* font-family: 'Dancing Script', cursive;  */
      font-family: 'Merriweather', serif;
  }
  p{
      font-size: 16px;
  }
  
  body{
          background-image: url("../image/lantern.jpg");
  } 

    
}

/* Tablet */
@media only screen and (max-width: 768px){
  nav {
      font-family: 'Open Sans Condensed', sans-serif;
      text-align: center;
      margin: 0 auto;
      font-size: 14px;
  }
}

/* Desktop */
@media only screen and (max-width: 992px){
  
    img {
      width: 100%;
      height: 170px;
    }
    
}

/* Huge */
@media only screen and (max-width: 1280px){
    img {
      width: 100%;
      height: 170;
    }
    .navbar {
      background-color: rgb(25, 126, 162);  

    }
    .form-inline .input-group {
      width: 300px;
      margin-left: 30px;
    }
  } 


