body {
	font-family: 'Gamja Flower', cursive;
	background: black;
	color: rgb(252, 15, 15);  
}

.container {
	position: relative;
}

header.jumbotron {
	background: rgb(15, 15, 61);
	border-radius: 24px;
}

h1 {
	font-family: 'Gamja Flower', cursive;
	font-style: bold;
	font-size: 22px;
	text-align: center;
	position: relative;
	letter-spacing: 8px;
}

h3 {
	font-family: 'Gamja Flower', cursive;
	color: rgb(115, 255, 0);
	padding-right: 10px;
	padding-bottom: 10px;
}

.styling {
	background: rgb(255, 167, 3);
	border-radius: 12px;
	color: rgb(0, 0, 0);
	font-style: Courier New;
	font-size: 15px;
	padding: 10px;
	margin: 5px;
	margin-top: 20px;

}

#cartoon-form {
	text-align: right;
}



#cartoon-input {
    color: rgb(41, 4, 255);
    background: lightgray; 
}

